/* utils */
.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.w-full {
  width: 100% !important;
}

.small-space-bottom {
  margin-bottom: 16px;
}

.font-weight-bold {
	font-weight: bold;
}

.ml-2 {
  margin-left: 10px;
}
/* utils */

.layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* background-color: black;
    color: white; */
}

.signin-card {
  text-align: center;
}

.signin-btn {
  align-items: center;
  margin-bottom: 10px;
}

.tokenCard .ant-card-body {
  padding: 0;
}

.tokenCard {
  padding: 20px;
  cursor: pointer;
}

.tokenCard ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tokenCard ul li{
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 15px;
  font-family: cursive;
  font-weight: bold;
}

.tokenCard ul li span {
  font-family: normal;
  font-weight: normal;
}
/* .tokenCard ul li span span.symbol {
  
} */
.tokenCard-bg{
  background: #ececec;
}

.delete-btn {
  padding: 0 5px;
  font-size: 21px;
  position: absolute;
  right: -8px;
  top: -8px;
  color: #4096ff;
  border-radius: 45%;
  border: none;
  display: none;
  transform: 0.6s;
}

.tokenCard:hover .delete-btn {
  display: block;
}

.copiedToolTip {
  position: absolute;
  bottom: 49px;
  right: 27px;
  background: #ececec;
  padding: 0 4px;
  border-radius: 6px;
}
